.card-registration .select-input {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }
  .card-registration .select-arrow {
    top: 13px;
  }
  body  {
    background-image: 
    linear-gradient(
        rgba(63, 63, 63, 0.5), 
        rgba(63, 63, 63, 0.5)
      ), 
    url("https://media.discordapp.net/attachments/958687400203255808/988897770054254592/background.png?width=832&height=468");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #cccccc;
  }
.form-control {
    width: 90%;
    border-radius: 25px
}
.bton {
    border-radius: 25px;
    width: 30%;
    margin-top: 2%
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #0eff42;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border: none;
}

.sidenav a, .dropdown-btn {
    font-family: 'Inter', sans-serif;
    font-size: .925rem;
    display: block;
    padding: 8px;
    font-size: 18px;
	  text-align: center;
    background-color: #0eff42;
    color: #2b2b2b;
    display: block;
    border: none;
    text-decoration: none;
    transition: 0.3s;
}  
.sidenav a.active {
  background-color: #292929;
  color: white;
}
.sidenav .dropdown-btn:focus {
  background-color: #424242;
  color: white;
  outline: none;
}
.sidenav a:hover:not(.active):not(.closebtn), .dropdown-btn:hover {
  background-color: #555;
  color: white;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav li .submenu{ 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	padding-left: 1rem; 
	padding-right: 1rem;
}

.bt{
    font-size:22px;
    padding: 0;
    border: none;
    background: none;
    cursor:pointer
}
.bt:focus {
  font-size:22px;
  padding: 0;
  border: none;
  background: none;
  cursor:pointer;
  outline: none;
}
#main {
    transition: margin-left .5s;
    margin-top: 50px;
    padding: 16px
  }

.right {
    display: flex; 
    justify-content: flex-end
}

.search {
    width:300px;
    margin-right:5px
}

.scroll {
  overflow: auto
}

.c {
  width: 90%
}

th, td {
  text-align: center;
}

.main-body {
  padding: 15px;
}

.center {
  text-align: center;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.navbg {
  background-image: linear-gradient(15deg, #3dff77 0%, #48ff66 100%);
}

